<main class="d-flex w-100">
  <div class="container d-flex flex-column">
    <div class="row vh-100">
      <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
        <div class="d-table-cell align-middle">

          <div class="text-center mt-4">
            <h1 class="h2">Welcome back</h1>
            <p class="lead">
              Log in to your account to continue
            </p>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="m-sm-4">
                <div class="text-center">
                  {{#if msg}}
                    <p class="text-danger">{{msg}}</p>
                  {{/if}}
                </div>
                <form action="/admin/login" method="POST">
                  <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input
                      class="form-control form-control-lg"
                      type="email"
                      name="email"
                      placeholder="Enter your email"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input
                      class="form-control form-control-lg"
                      type="password"
                      name="password"
                      placeholder="Enter your password"
                      required
                    />
                    <small>
                      <a href="pages-reset-password.html">Forgot password?</a>
                    </small>
                  </div>
                  <div class="text-center mt-3">
                    <button type="submit" class="btn btn-lg btn-primary">Log in</button>
                  </div>
                  <div class="text-center">
                      <a href="" class="btn btn-danger mt-3" style="background-color: cadetblue;border-radius: 25px;">Log in with Phone -></a>
                  </div>
                </form>
              </div>
              
            </div>
          </div>
                <a href="/employer/register" style="color: blue;text-decoration: underline;">Dont have an accout?create one</a>
        </div>
      </div>
    </div>
  </div>
</main>