<div class="container-fluid">
  <div class="row no-gutter">
    <!-- The image half -->
    <div class="col-md-6 d-none d-md-flex bg-image"></div>

    <!-- The content half -->
    <div class="col-md-6 bg-light">
      <div class="login d-flex align-items-center py-5">

        <!-- Demo content-->
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <h3 class="display-4">Login Back!</h3>
              <p class="text-muted mb-4">Get Hired at the right place.</p>
              <div class="text-center">
                {{#if msg}}
                  <p class="text-danger">{{msg}}</p>
                {{/if}}
              </div>
              <form action="/login" method="POST">
                <div class="form-group mb-3">
                  <input
                    id="inputEmail"
                    name="Email"
                    type="email"
                    placeholder="Email address"
                    required=""
                    autofocus=""
                    class="form-control rounded-pill border-0 shadow-sm px-4"
                  />
                </div>
                <div class="form-group mb-3">
                  <input
                    id="inputPassword"
                    name="Password"
                    type="password"
                    placeholder="Password"
                    required=""
                    class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"
                  />
                </div>
                <button
                  type="submit"
                  class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm"
                >Login</button>
                <div class="text-center d-flex justify-content-between mt-4"><p
                  >Don't have an account?<a
                      href="/register"
                      class="font-italic text-muted"
                    >
                      <u>Create One.</u></a></p></div>
              </form>
            </div>
          </div>
        </div><!-- End -->

      </div>
    </div><!-- End -->

  </div>
</div>

<style>
  /* * * ========================================== * CUSTOM UTIL CLASSES *
  ========================================== * */ .login, .image { min-height:
  100vh; } .bg-image { background-image:
  url('../../assets/img/blog/home-blog2.jpg'); background-size: cover;
  background-position: center center; }
</style>