<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>job Portal</title>
</head>
<body>
    {{#if user}}
    {{> user/header}}
    {{else if employer}}
    {{> employer/header}}
    {{else if admin}}
    {{> admin/header}}
    {{/if}}
    {{{body}}}

</body>
</html>